
body {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUXOv5cyZZfd_7N4IStS5oRjTFxC94kgHG-w&usqp=CAU);
}

ul {
    background-color: grey;
    padding: 20px;
    opacity: 0.5;
}

ul li {
    display: inline;
    margin: 20px;
}