body {
    background: #dfdfdf;
}
p {
    color: rgb(34, 34, 34);
    border: 1px dotted #FFFFFF;
    
}
.foto-principal {
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    width: 200px;
    margin: 30px;
    box-shadow: 0px 0px 10px #616161f5;
}
h1 {
    color: #d82828;
}
ul {
    color: #2b0863;
    font-size: larger;
    border-radius: 10%;
    border: 5px dashed #000000;

}
#oss {
    color: #7a3c63;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}